
.submit-button {
    font-family: 'Outfit' ,Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000000;
    background-color: #f87903;
    border-radius: 5px;
    border: none;
    height: 35px;
    width: 165px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #ffa450;
    transition: 1s;

}

