@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@550&display=swap');

body {
  background-color: #eeebe1;
  margin: 0;
  padding: 0;
  font-family: 'Outfit' ,Arial, Helvetica, sans-serif;
}
